.Footer {
  width: 100%;
  text-align: center;
  margin-top: 100%;
}

.Footer small {
  font-size: 1rem;
}

.Footer a {
  color: var(--sidebar-color);
  font-weight: bold;
  text-decoration: underline;
}